<div class="top-bar">
  <button
    mat-raised-button color="primary" (click)="backButtonHandler()" class="back-button">
    Back to Bookmarks
  </button>
</div>

<div class="main-content">
  <ng-container *ngIf="bookmark$ | async as bookmark; else stateMessage">
    <ng-container *ngIf="bookmark; else stateMessage">
      <ng-container *ngIf="isForNewBookmark$ | async">
        <h1 class="mat-display-2">Bookmark added!</h1>
        <h2 class="mat-h4">Thanks for your submission — your bookmark has been saved successfully.</h2>
      </ng-container>
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title *ngIf="bookmark.name">{{ bookmark.name }}</mat-card-title>
          <mat-card-subtitle>URL: <a [href]="bookmark.url" target="_blank">{{ bookmark.url }}</a></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Created: {{ bookmark.createdAt.toLocaleString() }}</p>
          <p *ngIf="bookmark.modifiedAt">Modified: {{ bookmark.modifiedAt.toLocaleString() }}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>

  <!-- Loading or Error State -->
  <ng-template #stateMessage>
    <p *ngIf="error$ | async as error; else loading">
      {{ error }}
    </p>


    <ng-template #loading>
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </ng-template>
  </ng-template>

</div>
