.spacer {
  flex: 1 1 auto;
}

.logo {
  font-weight: 600;
  color: #343a40;
}

a {
  margin: 0 5px;
}

mat-divider {
  height: 50%;

  &.hide {
    display: none;
  }
}

mat-toolbar {

  a {
    color: darkslategray;
    text-decoration: none;
  }
}
