:host {
  display: grid; /* Enable grid layout */
  grid-template-rows: 100px auto; /* Form takes 100px height, the rest is available space */
  grid-template-columns: auto auto; /* Main content takes available space, sidebar gets 40px */
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width of the container */

  /* Form section at the top */

  phq-bookmark-form {
    grid-column: 1; /* Span across both columns */
    grid-row: 1; /* Position in the first row */
    width: 100%; /* Take full width */
    height: 100%; /* Fill its row (100px) */
  }

  .search-form {
    grid-column: 2; /* Span across both columns */
    grid-row: 1; /* Position in the first row */
    margin: 10px;
  }

  /* Table of lists below the form */

  .bookmarks__list, .empty-state {
    grid-column: 1 / -1; /* Occupies the first column */
    grid-row: 2; /* Position in the second row */
    height: 100%; /* Fill the remaining vertical space */
    overflow-y: auto; /* Enable scrolling for long content */
    padding: 1rem; /* Optional padding, adjust as needed */
    background-color: #fff; /* Optional styling, modify as needed */
  }

  .loading-container {
    position: absolute;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; // Matches table height
  }

  .empty-state {
    text-align: center;
    margin: 2rem;

    .empty-message {
      font-size: 1.2rem;
      color: #6c757d;
      margin-bottom: 1rem;
      position: relative;
    }

    button {
      margin-top: 1rem;
    }
  }


}
