<phq-bookmark-form
  (submitted)="onCreateBookmark($event)"
  [isLoading$]="isFormSubmitting$"
  [error$]="bookmarkCreateError$">
</phq-bookmark-form>

<div class="bookmarks__list">
  <phq-bookmarks-table
    [bookmarks$]="bookmarks$"
    [totalCount]="(bookmarksTotalCount$ | async) || 0"
    [loading$]="loading$"
    [currentPageState$]="currentPageState$"
    (deleteBookmark)="onDeleteBookmark($event)"
    (editBookmark)="onEditBookmark($event)"
    (viewBookmark)="onViewBookmark($event)"
    (pageChange)="onPaginatorChange($event)">
  </phq-bookmarks-table>
</div>
<div class="loading-container" *ngIf="loading$ | async">
  <mat-spinner></mat-spinner>
</div>
